@import "../../../styles/variables.scss";

.products-list-container {
    padding:0px;
    .products-list-actions {
        background: #e0e0e0;
        padding: 15px;
        margin-bottom: 5px;
        .searchbox {
            height: 30px;
            outline: none;
            float: right;
        }
    }
}
