.main {
    background: white;
    border-width: 1px !important;
    border-style: solid !important;
}

.main :global(.tippy-content) {
    @apply p-0 text-black;
}

.main :global(.tippy-arrow) {
    fill: white;
}

.main[data-placement^="top"] > :global(.tippy-arrow::before) {
    border-top-color: white;
}

.main[data-placement^="bottom"] > :global(.tippy-arrow::before) {
    border-bottom-color: white;
}

.main[data-placement^="left"] > :global(.tippy-arrow::before) {
    border-left-color: white;
}

.main[data-placement^="right"] > :global(.tippy-arrow::before) {
    border-right-color: white;
}

/* Black color for the tippy arrow */
.main[data-placement^="top"][class*="bg-black"] > :global(.tippy-arrow::before) {
    border-top-color: black;
}

.main[data-placement^="bottom"][class*="bg-black"] > :global(.tippy-arrow::before) {
    border-bottom-color: black;
}

.main[data-placement^="left"][class*="bg-black"] > :global(.tippy-arrow::before) {
    border-left-color: black;
}

.main[data-placement^="right"][class*="bg-black"] > :global(.tippy-arrow::before) {
    border-right-color: black;
}
