@import "../../styles/variables.scss";

.circle {
    font-size: 12px;
    font-weight: bold;
    flex-shrink: 0;
}

.label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

@include media-breakpoint-down(xs) {
    .label:not(.current) {
        display: none;
    }
}

.line {
    background-color: $gray-300;
    height: 1px;
    flex: 1;
}
