@import "../../styles/variables.scss";

.button {
    width: 50px;
    height: 35px; // Same height as form inputs.
    border: solid 1px $input-border;

    &,
    &:hover {
        color: $input-color;
    }
}

.dropdownMenu {
    width: 500px;
}
