/* The overlay is the date picker shown when you click an input field */
.DayPickerInput-Overlay {
    @apply mt-1 shadow-sm;
}

.DayPickerInput-Overlay .DayPicker-wrapper {
    width: 358px;
}

/* The parent component of the entire date picker */
.date-picker {
    @apply leading-p1 tracking-tightest;
}

.DayPicker-NavBar {
    @apply text-gray-darker;
}

/* Month block which includes the month name 'July 2021' and the weeks, days etc.
    This does not include the today button */
.DayPicker-Month {
    border-collapse: inherit;
    border-spacing: 10px 16px;
    @apply p-0 m-0;
}

.DayPicker-Month .DayPicker-Caption {
    @apply h-10 p-0 m-0;
}

/* The name of the month July 2021 */
.DayPicker-Month .DayPicker-Caption[role="heading"] div {
    @apply h-10 relative top-[1px] leading-10 font-semibold text-lg;
}

/* The "Today" button.
    A lot of specific vaules which I normally wouldn't use. But this is a third party lib where I cannot change the markup */
.DayPicker-TodayButton {
    @apply absolute top-0 right-[78px] px-3.5 py-2.5;
    @apply bg-white text-base tracking-tightest text-black font-semibold border border-solid border-gray rounded-md;
}

/* The month & year select dropdown that is injected into the date picker at the top */
.DayPicker-Month .DayPicker-Caption select {
    @apply h-10 pl-2 pr-6 mr-2.5;
    @apply bg-white text-gray-darker border border-solid border-gray rounded-md;
    background-position: right 0.2rem center;
}

/* Sunday, Monday, Tuesday headers */
.DayPicker-Weekday {
    @apply py-3 m-0 font-semibold text-black text-base;
}

.DayPicker-Day {
    @apply w-[40px] h-[40px] p-0 text-md ring-0 focus:ring-0 focus:outline-none;
}

/* The style for today's date */
.DayPicker-Day--today {
    @apply font-normal text-black border border-gray-light;
}

/* State when a day is selected */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply bg-blue text-white border-transparent;
}

/* State when you hover on a day */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply bg-blue-lighter text-black border border-blue;
}

/* State when you hover on a **selected** day */
.DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled):hover {
    @apply bg-blue-darker text-white border-transparent;
}

/* Days which are outside the current month */
.DayPicker-Day--outside {
    @apply text-gray-dark cursor-pointer;
}

/* Days which are disabled */
.DayPicker-Day--disabled:not(.DayPicker-Day--today) {
    @apply text-gray-light;
}

/**
 * These are stylings for the Date Picker, but only when they have custom content like prices or seller messaging
 */
 .has-custom-content .DayPicker-Month {
    border-spacing: 1px 16px;
}

.has-custom-content .DayPicker-Day,
.has-custom-content .DayPicker-Day:hover {
    @apply w-[50px] h-[66px] border border-transparent;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply border border-transparent bg-white;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):hover
    .date-value {
    @apply bg-blue-lighter border border-blue;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white border border-transparent;
}

.has-custom-content .DayPicker-Day .date-value {
    @apply w-10 h-10 border border-transparent rounded-full leading-[38px];
}

.has-custom-content .DayPicker-Day .date-value:hover {
    @apply w-10 h-10 border border-transparent rounded-full leading-[38px];
}

.has-custom-content .DayPicker-Day {
    @apply space-y-0;
}

.has-custom-content .DayPicker-Day .custom-content {
    @apply w-10 h-6;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected:hover,
.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .selected {
    @apply bg-blue rounded-full leading-[38px] text-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .custom-content {
    @apply text-gray-dark;
}

.has-custom-content .DayPicker-Day--today {
    @apply bg-white border border-transparent;
}

.has-custom-content .DayPicker-Day--today .date-value {
    @apply bg-white border border-gray-light;
}

.has-custom-content .DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled):hover {
    @apply bg-white text-gray-dark;
}

.has-custom-content .DayPicker-Day .custom-content {
    @apply text-gray-dark;
}

/***************/
