@import "../../../styles/variables.scss";

.title {
    font-size: 16px;
}

.item {
    .row {
        opacity: 0.6;
    }
    .selected {
        opacity: 1;
    }
    &:hover {
        .row {
            background-color: $hover-background;
            opacity: 1;
        }
    }
}

.thumbnailContainer {
    min-height: 30px;
    height: fit-content;
}

.thumbnail .selected {
    position: absolute;
    font-size: 24px;
    background-color: rgba($color: theme-color("success"), $alpha: 0.7);
    top: 0;
}
