@screen md {
    .ui-login {
        background-image: url("https://files.xola.com/x2/images/login/v1-photo-1554629947-334ff61d85dc.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
