@import "./variables.scss";

// Removes the "x" icon from invalid form inputs.
.form-control.is-invalid {
    background-image: none;
    padding-right: $input-padding-x;
}

.cover {
    object-fit: cover;
}

.bg-cover {
    background-size: cover;
}

.form-group label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.form-check-label,
.custom-control-label {
    font-size: 0.875rem !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    color: $secondary;
}

.form-check-label .form-check-input {
    margin-top: 0.25rem; // To compensate for smaller base font size.
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0.1rem;
}

.cursor-pointer {
    cursor: pointer;
}

//DatePicker Style
.DayPicker-Day {
    line-height: normal !important;
}

.dayPickerInput {
    width: 150px;
}
