// Removes the "x" icon from invalid form inputs.
.form-control.is-invalid {
    background-image: none;
    padding-right: $input-padding-x;
}

.cover {
    object-fit: cover;
}

.bg-cover {
    background-size: cover;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 6px;
}

.bg-white {
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.custom-control-label {
    padding-top: 2px;
}

//DatePicker Style
.DayPicker-Day {
    line-height: normal !important;
}

.dayPickerInput {
    width: 150px;
}
