// Base body color.
$body-color: #666666;
$dark: #333333;

// Theme colors.
$theme-colors: (
    "primary": #26aae3,
    "secondary": $body-color,
    "danger": #f23c3c,
    "success": #8bc43f,
);

$headings-color: $dark;

// Fonts.
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Fixes button label contrast issue when theme colors are changed.
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
// Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 200;

// Border radius.
$border-color: #d3d3d3;
$border-radius: 0.25rem; // 4px
$border-radius-lg: 0.375rem; // 6px
$border-radius-sm: 0.1875rem; // 3px

//Hover
$hover-background: #f2f2f2;

//Input Border
$input-border: #ced4da;
$input-color: #495057;

//Box Shadow
$box-shadow-color: #8798ad;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
