.DayPicker-wrapper {
    @apply ring-0 focus:outline-none focus:ring-0;
}

/* The parent component of the entire date picker */
.ui-date-picker {
    @apply pt-6 tracking-tightest ring-0 focus:outline-none focus:ring-0;
}
.ui-relative-date-ranges,
.date-range-picker {
    @apply w-[810px];
}

.DayPicker-NavBar {
    @apply text-gray-darker;
}

.DayPicker-Months {
    @apply justify-start space-x-2;
}

/**
  * Month block which includes the month name 'July 2021' and the weeks, days etc.
  * This does not include the today button
  */
.DayPicker-Month {
    @apply my-0 mx-0 p-0 pt-0.5 ring-0 focus:outline-none focus:ring-0;
    min-width: 400px; /* Odd width given from Figma */
    border-collapse: inherit;
    border-spacing: 0 8px; /* 8px between each week (row) */
}

.DayPicker-Month .DayPicker-Caption {
    @apply m-0 h-10 p-0 pl-4;
    margin-bottom: 10px;
}

.DayPicker-Day--outside {
    pointer-events: none;
}

/* The name of the month July 2021 */
.DayPicker-Month .DayPicker-Caption[role="heading"] div {
    @apply relative top-[1px] h-10 text-lg font-semibold leading-10;
}

/* The "Today" button.
    A lot of specific vaules which I normally wouldn't use. But this is a third party lib where I cannot change the markup */
.DayPicker-TodayButton {
    @apply absolute top-0 right-24 h-10 px-3.5 py-2.5 leading-4;
    @apply rounded border border-solid border-gray bg-white text-base font-semibold tracking-tightest text-black hover:border-blue hover:bg-blue-lighter;
}

/* The month & year select dropdown that is injected into the date picker at the top */
.DayPicker-Month .DayPicker-Caption select {
    @apply mr-2.5 h-10 pl-2 pr-6;
    @apply rounded-md border border-solid border-gray bg-white text-gray-darker;
    background-position: right 0.2rem center;
}

/**
  * Sunday, Monday, Tuesday headers
  */
.DayPicker-Weekday {
    @apply m-0 p-0 text-base font-semibold text-black;
}

.DayPicker-Day {
    @apply h-8 w-8 !p-0 leading-3 ring-0 focus:outline-none focus:ring-0;
    @apply !pl-3; /* This will center the cell */
}

/* .DayPicker-Day .ui-day-content-value {
    @apply p-0 w-12 h-12 rounded-full text-md ring-0 focus:ring-0 focus:outline-none;
} */

/* The style for today's date */
.DayPicker-Day--today .ui-day-content {
    @apply border border-gray-light font-normal text-black;
}

/* Neutralize the parent div's styles */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply bg-transparent ring-0 focus:outline-none focus:ring-0;
}

/* State when a day is selected -- parent div */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply border-transparent;
}

/* State when a day is selected -- inner div with date number */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) .ui-date-picker-day,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover .ui-date-picker-day {
    @apply rounded-full bg-blue text-white;
}

/* State when you hover on a day */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside)
    .ui-day-content:hover {
    @apply border border-blue bg-blue-lighter text-black;
}

/* State when you hover on a **selected** day */
.DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled) .date:hover {
    @apply rounded-full border-transparent bg-blue-darker text-white;
}

/* Days which are outside the current month */
.DayPicker-Day--outside .date {
    @apply cursor-pointer text-gray-dark;
}

/* Days which are disabled */
.DayPicker-Day--disabled:not(.DayPicker-Day--today) .date {
    @apply text-gray-light;
}

/* Change the dates within the date to have the full light blue to show that it's a part of the range */
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
    @apply rounded-none bg-blue-lighter text-black;
}

/*
 * DATE RANGE PICKER. THE CSS IS COMPLEX, MAKE SURE YOU KNOW WHAT YOU ARE DOING
 * Make sure you test with dates 10 days apart to ensure the correct styles are applied
 * Scenarios:
 *  1. Start date is selected, end date is not selected
 *  2. Start date is selected, end date is selected
 *  3. Hover over start and end
 *  4. Dates are disabled
 */
.date-range-picker
    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
    .ui-date-picker-day,
.date-range-picker
    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover
    .ui-date-picker-day {
    @apply bg-transparent text-black;
}

.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue-lighter text-black;
}

.ui-date-picker-day {
    @apply h-8 w-8;
}

/* The explicit start date & end date of the range */
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .ui-date-picker-day,
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .ui-date-picker-day:hover,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .ui-date-picker-day,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .ui-date-picker-day:hover {
    @apply !bg-blue !text-white;
}

/* Make the start date have a 50% light blue background towards the RIGHT side */
.date-range-picker .DayPicker-Day--start {
    @apply rounded-none;
    background: linear-gradient(90deg, #ffffff 40%, #d1e1ff 25%);
}

.date-range-picker .DayPicker-Day--start div {
    @apply rounded-full;
}

/* Make the end date have a 50% light blue background towards the LEFT side */
.date-range-picker .DayPicker-Day--end {
    @apply rounded-none;
    background: linear-gradient(90deg, #d1e1ff 40%, #ffffff 25%); /* D1E1FF Blue lighter */
}

.date-range-picker .DayPicker-Day--end div {
    @apply rounded-full;
}

/**
 * These are stylings for the Date Picker, but only when they have custom content like prices or seller messaging
 */
.has-custom-content .DayPicker-Month {
    border-spacing: 1px 16px;
}

.has-custom-content .DayPicker-Day .ui-date-picker-day,
.has-custom-content .DayPicker-Day:hover .ui-date-picker-day {
    @apply h-12 w-12 border border-transparent;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply border border-transparent bg-white;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):hover
    .ui-day-content {
    @apply border border-blue bg-blue-lighter;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply border border-transparent bg-white;
}

.has-custom-content .DayPicker-Day .ui-day-content {
    @apply h-12 w-12 rounded-full border border-transparent;
}

.has-custom-content .DayPicker-Day .ui-day-content:hover {
    @apply h-12 w-12 rounded-full border border-transparent;
}

.has-custom-content .DayPicker-Day {
    @apply space-y-0;
}

.has-custom-content .DayPicker-Day .ui-day-content-custom {
    @apply text-xs text-gray-dark;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected:hover,
.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .ui-day-content {
    @apply rounded-full bg-blue font-normal text-black;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .ui-day-content-custom {
    @apply truncate font-normal text-gray-light;
}

.has-custom-content .DayPicker-Day--today {
    @apply border border-transparent bg-white font-normal text-black;
}

.has-custom-content .DayPicker-Day--today .ui-day-content {
    @apply border border-gray-light bg-white;
}

.has-custom-content .DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled):hover {
    @apply bg-white text-gray-dark;
}

.has-custom-content .DayPicker-Day .ui-day-content-custom {
    @apply text-gray-dark;
}

/**
 * Styling for waitlist. Just a dot
 */
.DayPicker-Day.DayPicker-Day--waitlist > div {
    @apply relative;
}

.DayPicker-Day.DayPicker-Day--waitlist > div::after {
    @apply absolute bottom-1 h-2 w-2 rounded-full bg-yellow content-[''];
}
