.DayPicker-wrapper {
    @apply ring-0 focus:ring-0 focus:outline-none;
}

/* The parent component of the entire date picker */
.ui-date-picker {
    @apply pt-6 tracking-tightest ring-0 focus:ring-0 focus:outline-none;
    width: 400px;
    box-shadow: 0px 8px 32px 3px rgba(0, 0, 0, 0.12);
}

.DayPicker-NavBar {
    @apply text-gray-darker;
}

/**
  * Month block which includes the month name 'July 2021' and the weeks, days etc.
  * This does not include the today button
  */
.DayPicker-Month {
    @apply p-0 pt-0.5 my-0 mx-0 ring-0 focus:ring-0 focus:outline-none;
    border-collapse: inherit;
    border-spacing: 0 16px;
}

.DayPicker-Month .DayPicker-Caption {
    @apply h-10 p-0 m-0;
    margin-bottom: 10px;
}

/* The name of the month July 2021 */
.DayPicker-Month .DayPicker-Caption[role="heading"] div {
    @apply h-10 relative top-[1px] leading-10 font-semibold text-lg;
}

/* The "Today" button.
    A lot of specific vaules which I normally wouldn't use. But this is a third party lib where I cannot change the markup */
.DayPicker-TodayButton {
    @apply absolute top-0 right-24 px-3.5 py-2.5 leading-4 h-10;
    @apply bg-white text-base tracking-tightest text-black font-semibold border border-solid border-gray hover:bg-blue-lighter hover:border-blue rounded;
}

/* The month & year select dropdown that is injected into the date picker at the top */
.DayPicker-Month .DayPicker-Caption select {
    @apply h-10 pl-2 pr-6 mr-2.5;
    @apply bg-white text-gray-darker border border-solid border-gray rounded-md;
    background-position: right 0.2rem center;
}

/**
  * Sunday, Monday, Tuesday headers
  */
.DayPicker-Weekday {
    @apply p-0 m-0 font-semibold text-black text-base;
}

.DayPicker-Day {
    @apply p-0 w-12 h-12 leading-3 ring-0 focus:ring-0 focus:outline-none;
}

/* .DayPicker-Day .ui-day-content-value {
    @apply p-0 w-12 h-12 rounded-full text-md ring-0 focus:ring-0 focus:outline-none;
} */

/* The style for today's date */
.DayPicker-Day--today .ui-day-content {
    @apply border border-gray-light font-normal text-black;
}

/* Neutralize the parent div's styles */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply bg-transparent ring-0 focus:ring-0 focus:outline-none;
}

/* State when a day is selected */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply bg-blue text-white border-transparent;
}

/* State when you hover on a day */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside)
    .ui-day-content:hover {
    @apply bg-blue-lighter text-black border border-blue;
}

/* State when you hover on a **selected** day */
.DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue-darker rounded-full text-white border-transparent;
}

/* Days which are outside the current month */
.DayPicker-Day--outside .date {
    @apply text-gray-dark cursor-pointer;
}

/* Days which are disabled */
.DayPicker-Day--disabled:not(.DayPicker-Day--today) .date {
    @apply text-gray-light;
}

/* Change the dates within the date to have the full light blue to show that it's a part of the range */
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
    @apply bg-blue-lighter text-black rounded-none;
}

/*
 * Date range
 */
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue-lighter text-black;
}

/* The explicit start date & end date of the range */
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .date:hover,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue text-white;
}

/* Make the start date have a 50% light blue background towards the RIGHT side */
.date-range-picker .DayPicker-Day--start {
    @apply rounded-none;
    background: linear-gradient(90deg, #ffffff 50%, #d1e1ff 25%);
}

/* Make the end date have a 50% light blue background towards the LEFT side */
.date-range-picker .DayPicker-Day--end {
    @apply rounded-none;
    background: linear-gradient(90deg, #d1e1ff 50%, #ffffff 25%);
}

/**
 * These are stylings for the Date Picker, but only when they have custom content like prices or seller messaging
 */
.has-custom-content .DayPicker-Month {
    border-spacing: 1px 16px;
}

.has-custom-content .DayPicker-Day,
.has-custom-content .DayPicker-Day:hover {
    @apply w-12 h-12 border border-transparent;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply border border-transparent bg-white;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):hover
    .ui-day-content {
    @apply bg-blue-lighter border border-blue;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white border border-transparent;
}

.has-custom-content .DayPicker-Day .ui-day-content {
    @apply w-12 h-12 border border-transparent rounded-full;
}

.has-custom-content .DayPicker-Day .ui-day-content .ui-day-content-value {
    @apply pt-3 leading-4;
}

.has-custom-content .DayPicker-Day .ui-day-content:hover {
    @apply w-12 h-12 border border-transparent rounded-full;
}

.has-custom-content .DayPicker-Day {
    @apply space-y-0;
}

.has-custom-content .DayPicker-Day .ui-day-content-custom {
    @apply text-xs text-gray-dark;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected:hover,
.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .ui-day-content {
    @apply bg-blue rounded-full font-normal text-black;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .ui-day-content-custom {
    @apply font-normal truncate text-gray-light;
}

.has-custom-content .DayPicker-Day--today {
    @apply bg-white text-black font-normal border border-transparent;
}

.has-custom-content .DayPicker-Day--today .ui-day-content {
    @apply bg-white border border-gray-light;
}

.has-custom-content .DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled):hover {
    @apply bg-white text-gray-dark;
}

.has-custom-content .DayPicker-Day .ui-day-content-custom {
    @apply text-gray-dark;
}

/***************/
