/* The overlay is the date picker shown when you click an input field */
.DayPickerInput-Overlay {
    @apply mt-1 shadow-sm;
}

.DayPickerInput-Overlay .DayPicker-wrapper {
    width: 358px;
}

.DayPicker-wrapper {
    @apply ring-0 focus:ring-0 focus:outline-none;
}

/* The parent component of the entire date picker */
.ui-date-picker {
    @apply leading-p1 tracking-tightest ring-0 focus:ring-0 focus:outline-none;
    box-shadow: 0px 8px 32px 3px rgba(0, 0, 0, 0.12);
}

.DayPicker-NavBar {
    @apply text-gray-darker;
}

/* Month block which includes the month name 'July 2021' and the weeks, days etc.
    This does not include the today button */
.DayPicker-Month {
    @apply p-0 my-0 ml-0 mr-5 ring-0 focus:ring-0 focus:outline-none;
    border-collapse: inherit;
    border-spacing: 0 16px;
}

.DayPicker-Month .DayPicker-Caption {
    @apply h-10 p-0 pl-4 m-0;
}

/* The name of the month July 2021 */
.DayPicker-Month .DayPicker-Caption[role="heading"] div {
    @apply h-10 relative top-[1px] leading-10 font-semibold text-lg;
}

/* The "Today" button.
    A lot of specific vaules which I normally wouldn't use. But this is a third party lib where I cannot change the markup */
.DayPicker-TodayButton {
    @apply absolute top-0 right-[78px] px-3.5 py-2.5;
    @apply bg-white hover:bg-blue-lighter text-base tracking-tightest text-black font-semibold border border-solid border-gray hover:border-blue rounded;
}

/* The month & year select dropdown that is injected into the date picker at the top */
.DayPicker-Month .DayPicker-Caption select {
    @apply h-10 pl-2 pr-6 mr-2.5;
    @apply bg-white text-gray-darker border border-solid border-gray rounded-md;
    background-position: right 0.2rem center;
}

/**
  * Sunday, Monday, Tuesday headers
  */
.DayPicker-Weekday {
    @apply p-0 m-0 font-semibold text-black text-base;
}

.DayPicker-Day {
    @apply px-[5px] py-0 ring-0 focus:ring-0 focus:outline-none;
}

.DayPicker-Day .date {
    @apply w-[40px] h-[40px] p-0 rounded-full text-md ring-0 focus:ring-0 focus:outline-none;
}

/* The style for today's date */
.DayPicker-Day--today .date {
    @apply border border-gray-light font-normal text-black;
}

/* Neutralize the parent div's styles */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply bg-transparent ring-0 focus:ring-0 focus:outline-none;
}

/* State when a day is selected */
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) .date,
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) .date:hover {
    @apply bg-blue text-white border-transparent;
}

/* State when you hover on a day */
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside)
    .date:hover {
    @apply bg-blue-lighter text-black border border-blue;
}

/* State when you hover on a **selected** day */
.DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue-darker text-white border-transparent;
}

/* Days which are outside the current month */
.DayPicker-Day--outside .date {
    @apply text-gray-dark cursor-pointer;
}

/* Days which are disabled */
.DayPicker-Day--disabled:not(.DayPicker-Day--today) .date {
    @apply text-gray-light;
}

/* Change the dates within the date to have the full light blue to show that it's a part of the range */
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
    @apply bg-blue-lighter text-black rounded-none;
}

/* A date which is the part of the date range */
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue-lighter text-black;
}

/* The explicit start date & end date of the range */
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--start:not(.DayPicker-Day--disabled) .date:hover,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .date,
.date-range-picker .DayPicker-Day--end:not(.DayPicker-Day--disabled) .date:hover {
    @apply bg-blue text-white;
}

/* Make the start date have a 50% light blue background towards the RIGHT side */
.date-range-picker .DayPicker-Day--start {
    @apply rounded-none;
    background: linear-gradient(90deg, #ffffff 50%, #d1e1ff 25%);
}

/* Make the end date have a 50% light blue background towards the LEFT side */
.date-range-picker .DayPicker-Day--end {
    @apply rounded-none;
    background: linear-gradient(90deg, #d1e1ff 50%, #ffffff 25%);
}

/**
 * These are stylings for the Date Picker, but only when they have custom content like prices or seller messaging
 */
.has-custom-content .DayPicker-Month {
    border-spacing: 1px 16px;
}

.has-custom-content .DayPicker-Day,
.has-custom-content .DayPicker-Day:hover {
    @apply w-[50px] h-[66px] border border-transparent;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply border border-transparent bg-white;
}

.has-custom-content
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):hover
    .date-value {
    @apply bg-blue-lighter border border-blue;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white border border-transparent;
}

.has-custom-content .DayPicker-Day .date-value {
    @apply w-10 h-10 border border-transparent rounded-full leading-[38px];
}

.has-custom-content .DayPicker-Day .date-value:hover {
    @apply w-10 h-10 border border-transparent rounded-full leading-[38px];
}

.has-custom-content .DayPicker-Day {
    @apply space-y-0;
}

.has-custom-content .DayPicker-Day .custom-content {
    @apply w-10 h-6;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected:hover,
.has-custom-content .DayPicker-Day.DayPicker-Day--selected {
    @apply bg-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .selected {
    @apply bg-blue rounded-full leading-[38px] text-white;
}

.has-custom-content .DayPicker-Day.DayPicker-Day--selected .custom-content {
    @apply text-gray-dark;
}

.has-custom-content .DayPicker-Day--today {
    @apply bg-white border border-transparent;
}

.has-custom-content .DayPicker-Day--today .date-value {
    @apply bg-white border border-gray-light;
}

.has-custom-content .DayPicker .DayPicker-Day:not(.DayPicker-Day--disabled):hover {
    @apply bg-white text-gray-dark;
}

.has-custom-content .DayPicker-Day .custom-content {
    @apply text-gray-dark;
}

/***************/
