@import "../../styles/variables.scss";

.DayPicker-Day {
    line-height: normal !important;
}

.DayPicker-Day--selected {
    background-color: theme-color("primary") !important;
}

.DayPicker-Caption,
.DayPicker-Day:not(.DayPicker-Day--disabled) {
    color: $body-color;
}

.DayPicker-Day--today:not(.DayPicker-Day--selected):not(.DayPicker-Day--disabled) {
    color: theme-color("danger");
}
