@import "../../styles/variables.scss";

.sidebar {
    position: fixed; /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    top: 0px;
    left: 0px;
    background: white;
    border-right: solid 1px $border-color;
    height: 100%;
    width: 200px;
    overflow-x: hidden;
}
.navitem {
    cursor: pointer;
    min-height: 50px;
    width: 100%;
    padding: 10px;

    &:hover,
    &.active {
        background-color: theme-color("primary");
        color: white;
    }
}
