.slot {
    .clearButton {
        display: none;
        top: -8px;
        right: -8px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        line-height: 16px;
    }
    &:hover {
        .clearButton {
            display: block;
        }
    }
}
