@import "../../../styles/variables.scss";

.slot {
    .clearButton {
        $size: 15px;
        display: none;
        top: -$size / 2;
        right: -$size / 2;
        width: $size;
        height: $size;
        font-size: $size;
        line-height: $size;
        z-index: 10;
    }

    &:hover {
        .clearButton {
            display: block;
        }
    }
}
