@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* Never change this default! */
    font-size: 14px;
}

button:focus {
    @apply outline-none;
}

h1 {
    @apply text-2xl; /* 24px */
    @apply font-bold;
}

h2 {
    @apply text-xl; /* 21px */
    @apply font-bold;
}

h3 {
    @apply text-lg; /* 18px */
    @apply font-bold;
}

h4 {
    @apply text-md; /* 16 px */
}

h5 {
    @apply text-base; /* 14 px */
}

.badge .icon {
    position: relative;
    top: -1px;
}