@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* Never change this default! */
    font-size: 14px;
}

button:focus {
    @apply outline-none;
}

h1 {
    @apply text-2xl; /* 24px */
    @apply leading-p1;
    @apply font-bold;
}

h2 {
    @apply text-xl; /* 21px */
    @apply leading-p1;
    @apply font-bold;
}

h3 {
    @apply text-lg; /* 18px */
    @apply leading-p2;
    @apply font-bold;
}

h4 {
    @apply text-md; /* 16 px */
    @apply leading-p2;
}

h5 {
    @apply text-base; /* 14 px */
    @apply leading-p2;
}

h6 {
    @apply text-sm; /* 14 px */
    @apply leading-p3;
}

.p1 {
    @apply text-md;
    @apply leading-p1;
}

.p2 {
    @apply text-base;
    @apply leading-p2;
}

.p3 {
    @apply text-sm;
    @apply leading-p3;
}

.badge .icon {
    position: relative;
    top: -1px;
}

@screen md {
    .login-container {
        /* This image is included in this repo at /public/images/ but is used here like this for Github Pages path issues */
        background-image: url("https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=900");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.switch .switch-inner {
    box-shadow: 0px 1.91176px 5.09804px rgba(0, 0, 0, 0.15), 0px 1.91176px 0.637255px rgba(0, 0, 0, 0.06);
}
