name: "Chromatic"

on:
    push:
    pull_request:
        types: [assigned, opened, synchronize, reopened]
    pull_request_target:
        types: [assigned, opened, synchronize, reopened]

jobs:
    chromatic-deployment:
        # Operating System
        runs-on: ubuntu-latest
        # Job steps
        steps:
            - uses: actions/checkout@v1
            - name: Install dependencies
              run: npm ci

            - name: Publish to Chromatic
              uses: chromaui/action@v1
              with:
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
