name: "Chromatic"

on:
    workflow_dispatch:

jobs:
    chromatic-deployment:
        # Operating System
        runs-on: ubuntu-latest
        # Job steps
        steps:
            - uses: actions/checkout@v1

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "npm"
                  cache-dependency-path: "package-lock.json"

            - name: Install dependencies
              run: npm ci

            - name: Publish to Chromatic
              uses: chromaui/action@v1
              with:
                  buildScriptName: build:storybook
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
