# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Publish @xola/icons

on:
    workflow_dispatch:
        inputs:
            tag:
                description: "Tag version"
                default: latest
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
                  registry-url: https://registry.npmjs.org/
            - run: cd src/icons && pwd && npm ci
            - name: Get publishable version from tags
              id: get-version
              run: |
                  tag="${{ github.event.inputs.tag }}"
                  version="${tag/-icons/}"
                  echo "::set-output name=version::${tag/-icons/}"
            - run: cd src/icons && pwd && npm publish --tag ${{ steps.get-version.outputs.version }}
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
