name: Publish UI Kit Storybook

on:
  push:
    branches:
      - "master" # matches every branch

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v1

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Generate storybook
        run: npm run build:storybook

      - name: Publish generated content to GitHub Pages
        uses: tsunematsu21/actions-publish-gh-pages@v1.0.2
        with:
          dir: storybook-static
          branch: gh-pages
          token: ${{ secrets.STORYBOOK_PUBLISH_TOKEN }}
