/* Container */
.ui-combo-box__control {
    @apply p-0 font-sans text-base leading-base !text-gray-dark; /* These don't do much, added just in case */
    @apply !rounded !border-gray-light;
}

/* Container hover */
.ui-combo-box__control:hover {
    @apply !border-black bg-gray-lighter;
}

/* Container focus */
.ui-combo-box__control:focus-within {
    @apply !border-primary shadow-none;
}

.border-danger .ui-combo-box__control {
    @apply !border-red;
}

/* Placeholder text color */
.ui-combo-box__placeholder {
    @apply !text-gray-dark;
}

/* Placeholder hover */
.ui-combo-box__control:hover .ui-combo-box__placeholder {
    @apply !text-gray-darker;
}

/* Menu shadow */
.ui-combo-box__menu {
    @apply !shadow-md;
}

/* Option focus */
.ui-combo-box__option--is-focused {
    @apply !bg-gray-lighter;
}

/* Option active */
.ui-combo-box__option--is-selected {
    @apply !bg-primary-light;
}

/* Input text color */
.ui-combo-box__input-container {
    @apply !text-gray-dark;
}

/* Input hover */
.ui-combo-box__control:hover .ui-combo-box__input-container {
    @apply !text-gray-darker;
}

/* Dropdown icon size and color style */
.ui-combo-box__dropdown-indicator svg {
    @apply h-3.5 w-3.5 text-black;
}

/* Dropdown icon disabled */
.ui-combo-box--is-disabled svg {
    @apply text-gray;
}

/* Hide vertical separator */
.ui-combo-box__indicator-separator {
    @apply hidden;
}

/* Hide weird border when search input is focused */
.ui-combo-box__input:focus {
    box-shadow: none !important;
}
